---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="UI Components List">
    <main class="min-h-screen max-w-3xl mt-16 w-full px-6 py-4">
        <header>
            <h1 class="text-6xl font-black text-gray-800 dark:text-gray-200">UI Components</h1>
        </header>
        <div id="table-of-content-container" class="mt-12 p-4">
            <h2 class="mb-4 text-xl font-black text-gray-600 dark:text-gray-300">Table of Content</h2>
            <ul class="flex flex-col gap-y-2 text-2xl font-semibold text-slate-500 dark:text-white">
                <li>
                    <a href="./button/preview">Button Component</a>
                </li>
                <li>
                    <a href="./dropdown/">Dropdown Component</a>
                </li>
                <li>
                    <a href="./forms">Form Components</a>
                </li>
            </ul>
        </div>
    </main>
</Layout>
