---
import Layout from "~/layouts/Layout.astro";
// import { cn } from "~/lib/utils";
---

<Layout title="Button Component">
    <main class="w-full max-w-3xl mt-16 mb-24">
        <h1 class="text-5xl text-slate-500 dark:text-slate-300 font-robotic">Buttons</h1>
        <div class="flex w-max flex-col gap-y-2 rounded-xl m-10 pt-2 pb-3 pl-2 pr-4 ml-4">
            <h2 class="pl-1 text-sm text-slate-400">Button One</h2>
            <div class="ml-2">
                <!-- https://unocss.dev/play/?html=DwWwhglgdgBAxgGzAZ2QXgEQmgWgBY7JwBOApqbAGYKkAeMEALqSMjnBc8TAFYCuyRhEoBPdp1LcA5mAAOOWjgAcMAEZScAdzxNSMACZhiAawBc6wkmbKADDYwA%2BAFAwYwVX0aMA9rEQp0DE0ccHpibz4ofVJ9EP0YWUUAJgA6AFYEsQBGGGQ8MH1vYOQQNW9iaO5GYjAoZCYIX3ZvBHLkF1c1DWh9CClvHDS7GGZaRhwevoGhjtdKbzgBHAA3CHrVGlMACmJoDSSYXagNb0pKZFJxpIBKGFmYPG9lyW2LSf6cADY7AHoAThsIzo43e0xst3u80WbFW602WzeUSmX1%2BAKBYy0OmYEM6MChS1hEA2pG2RxOZwu420ukOewmSI%2BABY7DjOmA4EJnq9ugyBt9AaMqVjSKzXL1kGBifpuZiaYLLGBrMzAapypUFdYkiy7rj7oYTDLQSiBcD6b0PkMyhVJGbkcqfkNRQYjGZHs9iIbeYNhqrrcRbR8AMy-ADsGXlRsdOs6%2BrM%2BJhayJ8MR5rBNh%2BShVaptkeG8up2OjYpdpnjK0TxNJdNO50uGtItkBZIDfO1epL7M5JIRPNT3vTmat6tzJoxBZFRedBvFkpo0p79ZwIbzpuQVgbQ3Bk4A2lpSKpjEwcIw5Pg%2BngEOfxnAWuVTNVashZEZOABuAC6uVINA5OCgvj0CJGEvKAG3-UCMA6BxJwAUVoMAQFkGgOmAH4PC8XxnFcdxPB8KB7n8VBMGCUJDgiKIYjiBJknSTIcByPICiKQhSl9SoRhqOoGiaG9WmIdpcQscd0XGNdFQbfkhxtMTNVDDJIQWAkK3hZsDmbGtKRwG57jdF4FxkjdR1E9clx9bN-QMnBgy3BToXLOFuwsSyshXDFLOXLM-UXaynTLQlKx2asKTrYTm0s%2B1vidTsIC5fSTK1IzFw8qSLJMnzJxnKUZWE%2BVwrMrzLIS25OnudsDSckzktje9VxMy1qrY6STP5H4wzK10nj0irxONFLF03ET%2BvBdrS0UhMHJlSyWsHRrUp6yT82Fa4Rr85Tu3U4LjJ6zMmzpKaWRG6LYu66xps89V9sS8dltxarMrnSbKvyi7mtcrbrE3G7Ol3TR90PcYT3kHQpAvK9mj4%2B9OKfF8oEYD8vx-cZwMAzwQLAgDINcLDOjghCkNIFC0NwzCnFQ8BoGcIA&config=JYWwDg9gTgLgBAbzgEwKYDNgDtUGEJaYDmANHGFKgM6owCSAxgVWRdbQKpYRwC%2Bc6KBBBwA5AFduDKlVEAoUJFhwYUAIZYq6aCFRQAamqjANMAOJDxYAUJGiAApIjSqAelUatOvQFoAbkYmWDA%2BRJZg8nKoAB5K8GjoauIANvEY2HgExAAUCHJwcFAp1ABccADa5aIM4lQwwj5FyaiiZEhMydBlopTIonwAugMk%2BXBUABbQMDUwVGV5BQXVtfUgPhNTM6LdMDEhyUQqez7QGkSocJN%2BeiW70SG7asmto7wjBWw0s2Xlox%2BUXy4EGyAEp3otPrRGMxcn9FlQGE9UGUAIwAOgATODFnAGMgsN1xjAYGA5q5XNQQGiJq4XjjeGDRsNRh5NNooLooHMKqyvBy9IZjKYLBArKDmQy5EA&css=Q&options=N4IgLgTghgdgzgMwPYQLYgFyQK4FMC%2BQA -->
                <button
                    class="w-max rounded-md px-2.5 py-1 shadow-sm border transition-colors bg-white text-slate-600 border-slate-200/75 focus-visible:ring-2 focus-visible:ring-offset-2 hover:bg-slate-50 hover:text-slate-700 hover:border-slate-300 focus-visible:bg-slate-100 focus-visible:text-slate-700 focus-visible:border-slate-300 focus-visible:ring-offset-white focus-visible:ring-slate-400/60 active:bg-slate-200 active:text-slate-700 active:border-slate-300 disabled:bg-white disabled:text-slate-400 disabled:border-slate-200 dark:bg-slate-700 dark:text-slate-50 dark:border-slate-600/75 dark:hover:bg-slate-600 dark:hover:border-slate-500 dark:hover:text-slate-50 dark:focus-visible:bg-slate-600/80 dark:focus-visible:border-slate-600 dark:focus-visible:text-white dark:focus-visible:ring-offset-slate-800 dark:focus-visible:ring-slate-600 dark:active:bg-slate-600/80 dark:active:border-slate-600 dark:active:text-white dark:disabled:bg-slate-700 dark:disabled:border-slate-600 dark:disabled:text-slate-500 [-webkit-tap-highlight-color:transparent;] select-none outline-none"
                    >Example</button
                >
            </div>
        </div>
    </main>
</Layout>
