---
import Layout from "~/layouts/Layout.astro";
// import { cn } from "~/lib/utils";
---

<Layout title="Button Component">
    <main class="w-full max-w-3xl mt-16 mb-24">
        <h1 class="text-5xl text-slate-500 dark:text-slate-300 font-robotic">Buttons</h1>
        <div class="flex w-max flex-col gap-y-2 rounded-xl m-10 pt-2 pb-3 pl-2 pr-4 ml-4">
            <h2 class="pl-1 text-sm text-slate-400">Button One</h2>
            <div class="ml-2">
                <!-- https://unocss.dev/play/?html=DwWwhglgdgBAxgGzAZ2QXgEQmgWgBY7JwBOApqbAGYKkAeMEALqSMjnBc8TAFYCuyRhEoBPdp1LcARgHNCSZjgAcABhUYAfACgYMYFL6NGAeyg7d8JKkwB3HOHrFjfKABNSr%2B65gAHWjgAmADoAVl8xAEYYZDwwV2M7ZBAYKWNid25GYjAoZCYIU3ZjBDTkc11ZHBs8JlIYZlpGeTBFADY1FLSM5sUAtQB6AHYw8phKYzgBHAA3CDypGhwACmJoOQCYVag5Y0pKZFImgIBKUbxjackALiXK5AVSHBCVerom%2B5bHwY7U9Mkex4AZjUxxgo3GkzYs3mNBudweOAiHQa7wR3xev26H0UwJUoPBEym0IgC1INy2Oz2Bya1VqmzWAJwABYBu18RYYGA4EJLnC5NjHn0XijGejOn9iIzceyLK45mBSa4%2BVUasxXo1GSyMV1-gLAiCOaNRq4wMQANZXeGfHBik3mq4ivXPGB2i2Y3UI9oqIYhY2mi3nS7EZV6r3irEI57Ct6M56nDmuq4QolzEmw278yM-HWSvVa9U01WkeOy-1JwlQ1Ok8kM3b7Q6M1QvCmMr0l3SJrk8skZ2PZiWa5Ex2nMdsusty5AKmhK3t6sXu3Oeocap0g0YAbSqpCkZqYOEYYB8%2BAgMjwCFPeCacGKaQd2VyPlNnAA3ABdaKkGjcnBQUx1ZxGAvKBHj-ECMHMbQOQAUVoMAQB8GhzGAfoDCMUxtBQ8BoG0IA&config=JYWwDg9gTgLgBAbzgEwKYDNgDtUGEJaYDmANHGFKgM6owCSAxgVWRdbQKpYRwC%2Bc6KBBBwA5AFduDKlVEAoUJFhwYUAIZYq6aCFRQAamqjANMAOJDxYAUJGiAApIjSqAelUatOvQFoAbkYmWDA%2BRJZg8nKoAB5K8GjoauIANvEY2HgExAAUCHJwcFAp1ABccADa5aIM4lQwwj5FyaiiZEhMydBlopTIonwAugMk%2BXBUABbQMDUwVGV5BQXVtfUgPhNTM6LdMDEhyUQqez7QGkSocJN%2BeiW70SG7asmto7wjBWw0s2Xlox%2BUXy4EGyAEp3otPrRGMxcn9FlQGE9UGUAIwAOgATODFnAGMgsN1xjAYGA5q5XNQQGiJq4XjjeGDRsNRh5NNooLooHMKqyvBy9IZjKYLBArKDmQy5EA&css=Q&options=N4IgLgTghgdgzgMwPYQLYgFwKgGzgUwF8g -->
                <button
                    class="w-max rounded-md px-2.5 py-1 shadow-sm border transition-colors bg-white text-slate-600 border-slate-200/75 focus-visible:ring-2 focus-visible:ring-offset-2 hover:bg-slate-50 hover:text-slate-700 hover:border-slate-300 focus-visible:bg-slate-100 focus-visible:text-slate-700 focus-visible:border-slate-300 focus-visible:ring-offset-white focus-visible:ring-slate-400/60 active:bg-slate-200 active:text-slate-700 active:border-slate-300 disabled:bg-white disabled:text-slate-400 disabled:border-slate-200 dark:bg-slate-700 dark:text-slate-50 dark:border-slate-600/75 dark:hover:bg-slate-600 dark:hover:border-slate-500 dark:hover:text-slate-50 dark:focus-visible:bg-slate-500 dark:focus-visible:border-slate-400 dark:focus-visible:text-white dark:focus-visible:ring-offset-slate-800 dark:focus-visible:ring-slate-600 dark:active:bg-slate-500 dark:active:border-slate-400 dark:active:text-white dark:disabled:bg-slate-700 dark:disabled:border-slate-600 dark:disabled:text-slate-500 [-webkit-tap-highlight-color:transparent;] select-none outline-none"
                    >Example</button
                >
            </div>
        </div>
    </main>
</Layout>
