---
import type { HTMLAttributes } from "astro/types";
import { cn } from "~/lib/utils";
export type Props = Omit<HTMLAttributes<"a">, "slot">;
const { class: className, ...attrs } = Astro.props;
---

<a
    class={cn(
        "text-xl font-medium text-cyan-700 dark:text-cyan-400 w-max shadow-light-underline dark:shadow-dark-underline dark:shadow-cyan-600/20",
        className
    )}
    {...attrs}
>
    <slot />
</a>
