---
import { getCollection } from 'astro:content'
import Default from '@layouts/Default.astro'
const allPosts = await getCollection('posts')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
---

<Default title="Tags">
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Default>
