---
import { getCollection } from 'astro:content'
import Default from '@layouts/Default.astro'
const allPosts = await getCollection('posts')
---

<Default title="Home Page" description="Description">
  <h1>HOME</h1>
</Default>
