---
import HeroiconsSolidX from "~icons/heroicons-solid/x";
import HeroiconsOutlineX from "~icons/heroicons-outline/x";
import { cn } from "~/lib/utils"

export type Props = {
    class?:string
};
const { class: className, ...attrs } = Astro.props
---
<span class="relative">
    <HeroiconsOutlineX
        shape-rendering="geometricPrecision"
        class={cn(
            `w-5 h-5 group-focus-visible:opacity-0 group-hover:opacity-0 group-focus-visible:duration-300 group-focus-visible:scale-95 group-hover:scale-95 will-change-[opacity,transform] transition-[opacity,transform] duration-100 group-hover:duration-300`,
            className
        )}
        {...attrs}
    />
    <HeroiconsSolidX
        shape-rendering="geometricPrecision"
        class={cn(
            `w-5 h-5 absolute opacity-0 group-focus-visible:opacity-100 group-hover:opacity-100 -translate-y-full scale-100 group-active:scale-90 group-focus-visible:scale-95 group-hover:scale-95 transition-[opacity,transform] duration-100`,
            className
          )}
          {...attrs}
    />
</span>
